<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <add name="LoginCheck" connectionString="Data Source=localhost;Initial Catalog=login;Persist Security Info=True;User ID=LoginCheck;Password=logincheck;" providerName="System.Data.SqlClient"/>
    <add name="Admin" connectionString="Data Source=localhost;Initial Catalog=gas_station;Persist Security Info=True;User ID=GasStationAdmin;Password=AdminPass9321;" providerName="System.Data.SqlClient"/>
    <add name="Worker" connectionString="Data Source=localhost;Initial Catalog=gas_station;Persist Security Info=True;User ID=GasStationWorker;Password=WorkerPass9321;" providerName="System.Data.SqlClient"/>
    <add name="User" connectionString="Data Source=localhost;Initial Catalog=gas_station;Persist Security Info=True;User ID=GasStationUser;Password=UserPass9321;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
